
<html>
<head>
<title>Instacoffee</title>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'insta/style.css' %}" />

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
<script type="text/javascript">

$(document).ready(function() {
			$('#presence_green').hide()
			$('#ready_green').hide()
			
            $('#power').change(function() {
                var control_str
                if($(this).is(":checked")) {
                    control_str = "power_on";

                } else {
                    control_str = "power_off";
                }

                $.ajax({
                    url : "/",
                    type : "POST",
                    dataType: "json",
                    data : {
                        command : control_str,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },

                });
                $(this).attr("checked", returnVal);

            })

            $('#start_time_switch').change(function() {
                var control_str
                if($(this).is(":checked")) {
                    control_str =  "start_time_on";

                } else {
                    control_str = "start_time_off";
                }

                $.ajax({
                    url : "/",
                    type : "POST",
                    dataType: "json",
                    data : {
                        command : control_str,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },

                });
                $(this).attr("checked", returnVal);

            })

            $('#tweet_switch').change(function() {
                var control_str
                if($(this).is(":checked")) {
                    control_str = "tweet_switch_on";
					

                } else {
                    control_str = "tweet_switch_off";
                }

                $.ajax({
                    url : "/",
                    type : "POST",
                    dataType: "json",
                    data : {
                        command : control_str,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },

                });
                $(this).attr("checked", returnVal);

            })
});


// The loop is used to send the data from the text boxes every second
var interval = 5000;  // 1000 = 1 second
function repeat() {
	str =  "start_time: " + document.getElementById('start_time_textbox').value;
	$.get('/startTime/', {startT: str}, function(data){
				if(data == "true") {
					$('#power').prop('checked', true);
				}
               
    })
	
	setTimeout(function() {}, 1000);
	
	$.get('/presence/', function(data){
				if(data == "true") {
                    $('#presence_green').show()
					$('#presence_red').hide()

                } else {
                    $('#presence_green').hide()
					$('#presence_red').show()
                }
    })
	
	setTimeout(repeat, interval);
};

function backendLoop() {
	$.get('/backendLoop/', function(data){
    })
};

backendLoop();
setTimeout(repeat, interval);

</script>

</head>

<body>

    <center>
    <img src="{% static "insta/images/otsikko.png" %}" alt="My image"/>

    <br>

    <div class="wrapper">
        <div class="leftcol">

            <p class="palatino">Power</p>
            <center>
            <div class="switch">
            <input name="power" id="power" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="power">Power</label>
            </div>
            </center>

            <p class="palatino">Start Time</p>
	        <center>
                <div class="switch">
                    <input name="start_time_switch" id="start_time_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                    <label for="start_time_switch">Start Time</label>
                </div>

                <br><br>
                <input class="textbox" name="start_time_textbox" type="text" value="12:00" id="start_time_textbox">
            </center>

            <p class="palatino">Shutdown Timer</p>
            <center>
                <input class="textbox" name="shutdown_timer_textbox" type="text" value="00:00:20" id="shutdown_timer_textbox">
            </center>

            <p class="palatino">Tweet when coffee is ready</p>
            <center>
            <div class="switch">
            <input name="tweet_switch" id="tweet_switch" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="tweet_switch">Shutdown Timer</label>
            </div>
            </center>
        </div>

        <div class="rightcol">
            <p class="palatino">Coffee pan present</p>
			<div class="led led-green" id="presence_green"></div>
			<div class="led led-red" id = "presence_red"></div>

            <p class="palatino">Coffee is ready</p>			
            <div class="led led-green" id="ready_green"></div>
			<div class="led led-red" id="ready_red"></div>
        </div>

    </div>
</center>
</body>
</html>
